
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "load_spinner";
@import "responsive_margins";

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  font-family: 'Quicksand';
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

// Transitions ===============================================================

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

a {
  cursor: pointer;
}

.popupunder{
  width: 300px;
  position:fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  border: 0;
  padding: 20px;

  &.alert-danger{
    border: 1px solid darken($brand-danger, 10%);
  }

  .close{
    font-size: 10px;
    position:absolute !important;
    right: 2px;
    top: 3px;
  }
}

.vue-map {
  border-radius: 4px;
}

.vue-map-container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}